@font-face {
    font-family: MuseoSansCyrl;
    font-display: swap;
    src: url("../fonts/MuseoSansCyrl-Bold.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-Bold.woff") format("woff");
    font-wight: 700;
    font-style: normal;
}

@font-face {
    font-family: MuseoSansCyrl;
    font-display: swap;
    src: url("../fonts/MuseoSansCyrl-Light.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-Light.woff") format("woff");
    font-wight: 300;
    font-style: normal;
}

@font-face {
    font-family: MuseoSansCyrl;
    font-display: swap;
    src: url("../fonts/MuseoSansCyrl-Medium.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-Medium.woff") format("woff");
    font-wight: 500;
    font-style: normal;
}

@font-face {
    font-family: MuseoSansCyrl;
    font-display: swap;
    src: url("../fonts/MuseoSansCyrl-Regular.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-Regular.woff") format("woff");
    font-wight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
    font-wight: 400;
    font-style: normal;
}